{
    "dev_table_pct":0.2,
    "dev_n":2000,
    "debug":0,
    "bnn":1,
    "train_incr_size":1200,
    "train_batch_size":4,
    "eval_batch_size":1,
    "max_epoch":20,
    "patience_epochs":1,
    "patience_datasets":1,
    "retr_top_n":100,
    "min_tables":5,
    "max_retr":1000,
    "question_maxlength":50,
    "text_maxlength":300,
    "file_name_title":0,
    "table_sample_rows":30,
    "chunk_table":1,
    "table_chunk_size":100,
    "table_import_batch":30,
    "encode_batch":1000000
}
