{
    "dev_table_pct":0.2,
    "dev_n":2000,
    "debug":0,
    "bnn":1,
    "train_incr_size":1500,
    "max_epoch":20,
    "retr_top_n":2000,
    "max_retr":10000,
    "min_tables":5,
    "rel_num_train":100,
    "rel_num_test":250,
    "train_batch_size":4,
    "eval_batch_size":1,
    "patience_epochs":1,
    "patience_datasets":1,
    "question_maxlength":50,
    "text_maxlength":300,
    "file_name_title":1,
    "table_sample_rows":null,
    "chunk_table":0,
    "table_chunk_size":1000,
    "table_import_batch":16,
    "encode_batch_size":1000
}
