{
    "dev_table_pct":0.2,
    "dev_n":100,
    "train_incr_size":100,
    "train_batch_size":4,
    "eval_batch_size":1,
    "max_epoch":20,
    "patience_epochs":2,
    "patience_datasets":2,
    "retr_top_n":100,
    "min_tables":5,
    "max_retr":1000,
    "question_maxlength":50,
    "text_maxlength":300,
    "bnn":1
}
