{
    "dev_table_pct":0.2,
    "dev_n":1000,
    "train_start_n":6000,
    "train_step_n":0,
    "train_batch_size":4,
    "max_epoch":30,
    "patience_steps":10,
    "ckp_steps":50,
    "retr_top_n":100,
    "min_tables":5,
    "max_retr":1000,
    "question_maxlength":50,
    "text_maxlength":300,
    "bnn":1
}
