{
    "dev_table_pct":0.2,
    "dev_n":2000,
    "train_start_n":10000,
    "train_step_n":0,
    "train_batch_size":4,
    "max_epoch":2,
    "patience_steps":3,
    "retr_top_n":100,
    "min_tables":5,
    "max_retr":1000,
    "question_maxlength":50,
    "train_text_maxlength":150,
    "text_maxlength":300
}
