{% for table_data in table_data_lst %}
    <div class="table-responsive">
       <table id="top_table_{{ table_data['search_rank'] }}" class="table">
          <caption style="margin-left:6px; font-weight: bold; width: 800px">
          Top {{ table_data['search_rank'] }} : {{ table_data['documentTitle'] }} 
            <input class="top_table_btn" table_rank="{{ table_data['search_rank'] }}" id="btn_top_{{ table_data['search_rank'] }}" type=button value='Export'/>
          </caption>
          <thead>
            <tr>
                {% for col_info in table_data.columns %}
                  <th>{{ col_info['text'] }}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row_info in table_data.rows %}
            <tr>
                {% for cell_info in row_info.cells %}
                  <td>{{ cell_info['text'] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
       </table>
    </div>
{% endfor %}
